body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #fdc4ec 0%, #b1cdf7 100%);

}

.quote {
  width: 500px;
  text-align: center;
  background-color: rgba(140, 233, 240, 0.705);
  padding: 30px;
  margin-bottom: 30px;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

Button a, Button a:hover {
  text-decoration: none;
  color: whitesmoke
}